@model IEnumerable<FinalProjectBusinessLayer.Entitys.Document>
@*View all documents*@

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">View Document</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">View Documents</li>
                        <li class="breadcrumb-item"><a href="#">View Document</a></li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <h1></h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                File
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DocumentID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    <a target="_blank" href="/TeamMember/AttachmentPreview?ID=@item.DocumentAttatchments.FirstOrDefault(x=>x.DocumentID==item.DocumentID).ID">@item.DocumentAttatchments.FirstOrDefault(x => x.DocumentID == item.DocumentID).FileName</a>
                                </td>
                                <td>
                                    <input type="hidden" value="@item.DutyID" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>